<ion-content>
  <div class="main-wrapper">
    <div class="logo-container">
      <img class="logo" src="../../assets/Captura de tela 2025-08-23 152632.png" alt="Logo" />
    </div>

    <div class="login">
      <div class="textlogin">
        <h1>Cadastro</h1>
        <h2>Acompanhe sua plantação de forma inteligente</h2>
      </div>

      <div class="inputs">
        <div class="input-group">
          <p>Email</p>
          <div class="inputdabbzinha">
            <ion-input [(ngModel)]="email" type="email" placeholder="exemplo@email.com"></ion-input>
          </div>
        </div>

        <div class="local">
          <div class="uf">
            <p class="textinput">Estado</p>
            <ion-select [(ngModel)]="ufSelecionadaId" (ionChange)="carregarCidades()" placeholder="UF" interface="popover">
              <ion-select-option *ngFor="let u of ufs" [value]="u.id">
                {{ u.sigla }}
              </ion-select-option>
            </ion-select>
          </div>

          <div class="cidade">
            <p class="textinput">Cidade</p>
            <ion-select [(ngModel)]="cidadeSelecionada" placeholder="Cidade" interface="popover">
              <ion-select-option *ngFor="let c of cidades" [value]="c.nome">
                {{ c.nome }}
              </ion-select-option>
            </ion-select>
          </div>
        </div>

        <div class="input-group">
          <p>Senha</p>
          <div class="inputdabbzinha">
            <ion-input [(ngModel)]="senha" type="password" placeholder="sua senha">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </div>
        </div>

        <div class="input-group">
          <p>Confirme sua senha</p>
          <div class="inputdabbzinha">
            <ion-input [(ngModel)]="senha2" type="password" placeholder="sua senha novamente"></ion-input>
          </div>
        </div>

        <div class="actions">
          <button (click)="cadastrar()">Cadastrar</button>

          <div class="align-container">
            <span>Já tem uma conta?</span>
            <a class="cadastro" routerLink="/login">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>