<ion-content>
  <div class="main-wrapper">
    <div class="logo-container">
      <img class="logo" src="../../assets/Captura de tela 2025-08-23 152632.png" alt="Logo">
    </div>

    <div class="login">
      <div class="textlogin">
        <h1>Login</h1>
        <h2>Seja bem-vindo de volta!</h2>
      </div>

      <div class="inputs">
        <div class="input-group">
          <p>Email</p>
          <div class="inputdabbzinha">
            <ion-input [(ngModel)]="email" type="email" placeholder="exemplo@email.com"></ion-input>
          </div>
        </div>

        <div class="input-group">
          <p>Senha</p>
          <div class="inputdabbzinha">
            <ion-input [(ngModel)]="senha" type="password" placeholder="sua senha">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </div>
          <a routerLink="/redefsenha" class="forgot-password">Esqueci minha senha</a>
        </div>

        <div class="actions">
          <button (click)="login()">Entrar</button>

          <div class="align-container">
            <span>Não tem uma conta?</span>
            <a class="cadastro" routerLink="/cadastro">Cadastre-se</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>