ion-content {
  --background: #fff3e0;
  --padding-bottom: 120px;
}

/* HEADER */
.header-solosmart {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;

  img {
    width: 220px;
    height: auto;
  }

  .header-text {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 600;
      color: #2e7d32;
    }

    p {
      margin: 0;
      font-size: 0.85rem;
      color: #4caf50;
    }
  }
}

/* CARDS */
.card {
  background: #C56D47;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card h3 {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 12px;
}

/* NAVBAR FLUTUANTE */
.bottom-nav {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);

  background: #C56D47;
  padding: 10px 20px;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.nav-item {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 14px;
  text-decoration: none;
}

.nav-item ion-icon {
  font-size: 22px;
  color: white;
  transition: 0.2s ease;
}

/* 🔥 ATIVO */
.nav-item.active {
  background: #E6DCC6;
}

.nav-item.active ion-icon {
  color: #C56D47;
}