<ion-content class="conteudo">
<div class="header-solosmart">
  <img src="../../assets/Captura de tela 2025-08-23 152632.png" alt="Logo SoloSmart" />

  <div class="header-text">
    <h2>Monitoramento</h2>
    <p>Análise térmica e umidade do solo</p>
  </div>
</div>


  <div class="card">
    <h3>Temperatura ao longo do dia</h3>
    <canvas id="tempLinha"></canvas>
  </div>

  <div class="card">
    <h3>Faixa de Temperatura</h3>
    <canvas id="tempFaixa"></canvas>
  </div>

  <div class="card">
    <h3>Situação da Umidade do Solo</h3>
    <canvas id="umidadeSolo"></canvas>
  </div>

</ion-content>
