<ion-content class="ion-padding">

  <div class="logo-container">
    <img class="logo" src="../../assets/logo2.png" alt="SoloSmart Logo" />
    <p class="welcome-text">
      Acompanhe sua plantação de forma <br />
      <strong>inteligente</strong>
    </p>
  </div>

  <ion-card class="card-padrão card-umidade">
    <ion-card-header>
      <div class="header-horizontal">
        <ion-icon name="water-outline"></ion-icon>
        <ion-card-title><strong>Umidade do Solo</strong></ion-card-title>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="porcent">
        <ion-progress-bar [value]="umidade / 100" class="progress-solosmart"></ion-progress-bar>
        <p class="percentage-label">{{ umidade }}%</p>
      </div>

      <p class="status">
        Status: 
        <span [ngClass]="getUmidadeStatusClass()">
          <strong *ngIf="umidade <= 20">Muito Seco 🌵</strong>
          <strong *ngIf="umidade > 20 && umidade <= 70">Ideal 😎</strong>
          <strong *ngIf="umidade > 70">Muito Úmido 🫧</strong>
        </span>
      </p>

      <p class="alerta-inteligente" *ngIf="contagemSeco > 0">
        {{ textoAlertaSeco }} hoje
      </p>

      <p class="atuali">
        Última atualização: {{ ultimaAtualizacao }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-padrão card-clima" *ngIf="clima?.atual">
    <ion-card-header>
      <div class="header-horizontal">
        <ion-icon name="partly-sunny-outline"></ion-icon>
        <ion-card-title><strong>Clima em {{ userCidade }}</strong></ion-card-title>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="clima-info">
        🌡️ Temperatura: {{ clima?.atual.temperatura }} °C <br>
        💨 Vento: {{ clima?.atual.vento }} m/s <br>
        <small class="localizacao-detalhe">Coordenadas: {{ lat.toFixed(2) }}, {{ lon.toFixed(2) }}</small>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="irrigacao-card">

  <div class="topo">
    <div>
      <h2>Irrigação</h2>
      <p class="ultima">Última irrigação: 2 horas atrás</p>
      <p class="atualizacao">Atualizado às 18:42</p>
    </div>
  </div>

  <div class="botoes">

    <button 
      class="btn ligar"
      [class.ativo]="releLigado"
      (click)="ligarRele()">
      Ligar
    </button>

    <button 
      class="btn desligar"
      [class.ativo]="!releLigado"
      (click)="desligarRele()">
      Desligar
    </button>

  </div>

</ion-card>

  <div class="user-footer">
    <p>{{ userEmail }}</p>
    <button class="btn-sair" (click)="sair()">
      <ion-icon name="log-out-outline"></ion-icon>
      Sair
    </button>
  </div>

  <div class="bottom-nav">
    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
      <ion-icon name="home-outline"></ion-icon>
    </a>
  
    <a routerLink="/monitoramento" routerLinkActive="active" class="nav-item">
      <ion-icon name="stats-chart-outline"></ion-icon>
    </a>
  
    <a routerLink="/soloia" routerLinkActive="active" class="nav-item">
      <ion-icon name="glasses-outline"></ion-icon>
    </a>
  </div>




</ion-content>