ion-content {
    --background: #fff3e0;
  }
  
  ion-header{
      background: transparent;
      box-shadow: none;
  }
  
  .logo{
      width: 200px;
      height: auto;
      margin-top: 50px;   
      animation: slideUp 0.5s ease forwards;
  }
  
  @keyframes slideUp {
      from {
          transform: translateY(40px);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
  
  ion-header p{
      font-family: Poppins;
      font-size: 14px;
      color: #B0B0B0;
      margin: auto;
      margin-left: 10px;
  }
  
  ion-card{
      background-color: #E3A330;
      border-radius: 24px;
  }
  
  ion-card-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
  }
  ion-card-header ion-icon{
      color: #fff3e0;
      width: 30px;
      height: 30px;
  }
  
  ion-card-title{
      font-family: Poppins;
      font-size: 18px;
      color: #fff3e0;
  }
  
  ion-card-content{
      font-family: Poppins;
      font-size: 14px;
      color: #666;
  }
  
  .porcent{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .porcent ion-progress-bar{
     width: 80%;
    --progress-background: #2A3D1D; /* fundo da barra */
    --progress-bar-background: #2A3D1D; /* cor do preenchimento */
    height: 10px; /* altura da barra */
    border-radius: 5px; /* borda arredondada */
  
  
  }
  .porcent p{
     font-size: 14px;
     color: #fff3e0;
  }
  
  .status{
     font-size: 14px;
     color: #fff3e0;
     margin: 10px 0;
  }
  
  .atuali{
      font-size: 10px;
      font-family: Poppins;
      font-style: italic;
      color: #fff3e0;
  }
  
  
  
  .more{
      font-size: 10px;
      color: #fff3e0;
      font-family: Poppins;
      font-style: italic;
      font-weight: bold;
  }
  
  .user-info{
      font-family: Poppins;
      font-size: 14px;
      color: #B0B0B0;
      text-align: center;
      margin-top: 20px;
  }

  ion-button {
    margin-top: 30px;
    font-weight: bold;
    font-size: 16px;
    --background:#2A3D1D;     /* cor principal */
    --color: white;             /* cor do texto */
    --border-radius: 20px;      /* arredondamento */
  }
  
  .bottom-nav {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    
    background: #C56D47;
    padding: 10px 20px;
    border-radius: 25px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  }
  
  .bottom-nav {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  
    background: #C56D47;
    padding: 10px 20px;
    border-radius: 25px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
  
  .nav-item {
    width: 40px;
    height: 40px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 14px;
    text-decoration: none;
  }
  
  .nav-item ion-icon {
    font-size: 22px;
    color: white;
    transition: color 0.2s ease;
  }
  
  /* 🔥 ESTADO ATIVO (FUNDO BRANCO) */
  .nav-item.active {
    background: #E6DCC6;
  }
  
  .nav-item.active ion-icon {
    color: #C56D47;
  }

  ion-content {
    --padding-bottom: 120px;
  }
  